html {
    font-family: sans-serif;
    display: block;
    margin: auto;
}

body {
    margin: auto;
    max-width: 1160px;
    border-right: 5px solid black;
}

header {
    height: auto;
    background-color: #772221;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {
    margin: 20px;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 50px black;
}

.container {
    display: flex;
    height: auto;
    background-color: #2c1d27;
    justify-content: space-between;
    margin: 0%;
}

div a {
    color: white;
}

aside {
    width: 15%;
    padding-block-start: 0px;
    margin-block-start: 0px;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
    margin-top: 0px;
    margin-right: 12%;

}

.About {
    width: 300px;
    height: 1400px;
    background-color: #782221;
    display: flex;
    color: white;

}

.AboutMe {
    width: 280px;
    height: 750px;
    background-color: #782221;
    flex-direction: row;
    justify-content: start;
    max-height: fit-content;

}

.Myjourney {

    width: auto;
    height: auto;
    display: flex;
    border-style: solid;
    text-align: center;

}

.pro-exp {
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;

}

h2 {
    display: block;
    color: black;
    border-style: solid;
    border-color: #dbc2a4;
    background-color: #dbc2a4;

}

h3 {
    display: flex;
    color: black;
    border-style: solid;
    border-color: #dbc2a4;
    background-color: #dbc2a4;
    text-align: left;

}

h4 {
    font-weight: bold;
}

footer {
    display: block;
    text-align: center;
    background-color: #782221;
    color: white;
}

.img2 {
    height: 40px;
    width: auto;
}

.Pex {
    text-align: start;
    margin-bottom: 200px;
}

dd {
    margin-left: 30px;
}